:root {
  --background: #ffffff;
  --foreground: #ffffff;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

.login-button {
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
  font-size: 24px;
}


.ant-select-dropdown {
  background-color: white !important;
  color: #000000 !important;
}

.ant-select-item {
  color: #000000 !important;
  background-color: white !important;
}

.ant-select-item-option-active,
.ant-select-item-option-selected {
  background-color: #F4EBEB !important;
  color: #000000 !important;
}

.ant-select-selector {
  background: #F4EBEB !important;
  border: none !important;
  color: #000000 !important;
}

.ant-select-selection-item {
  color: #000000 !important;
  
}